# Lowercasing:

In [2]:
import pandas as pd
import numpy as np

In [3]:
df=pd.read_csv("C:\\Users\\user\\Datasets\IMDB Dataset.csv")

<>:1: SyntaxWarning: invalid escape sequence '\I'
<>:1: SyntaxWarning: invalid escape sequence '\I'
C:\Users\user\AppData\Local\Temp\ipykernel_18984\3969783585.py:1: SyntaxWarning: invalid escape sequence '\I'
  df=pd.read_csv("C:\\Users\\user\\Datasets\IMDB Dataset.csv")

In [4]:
df.head()

                                              review sentiment
0  One of the other reviewers has mentioned that ...  positive
1  A wonderful little production. <br /><br />The...  positive
2  I thought this was a wonderful way to spend ti...  positive
3  Basically there's a family where a little boy ...  negative
4  Petter Mattei's "Love in the Time of Money" is...  positive

In [5]:
df['review']=df['review'].str.lower()

In [6]:
df.head()

                                              review sentiment
0  one of the other reviewers has mentioned that ...  positive
1  a wonderful little production. <br /><br />the...  positive
2  i thought this was a wonderful way to spend ti...  positive
3  basically there's a family where a little boy ...  negative
4  petter mattei's "love in the time of money" is...  positive

# Remove HTML tags:

In [8]:
import re
def removetags(text):
    pattern=re.compile('<.*?>')
    return pattern.sub(r'',text)

In [9]:
df['review']=df['review'].apply(removetags)

In [10]:
df.head()

                                              review sentiment
0  one of the other reviewers has mentioned that ...  positive
1  a wonderful little production. the filming tec...  positive
2  i thought this was a wonderful way to spend ti...  positive
3  basically there's a family where a little boy ...  negative
4  petter mattei's "love in the time of money" is...  positive

# Remove Urls:

In [12]:
def removeurl(text):
    pattern=re.compile(r'https?://\S+')
    return pattern.sub(r'',text)

In [13]:
text= "Check out my notebook https://www.deture.com/delta/note1234acc"

In [14]:
removeurl(text)

'Check out my notebook '

# Remove Punctuation:

In [16]:
import string

In [17]:
exclude=string.punctuation

In [18]:
def removepunc(text):
    for char in exclude:
        text=text.replace(char,"")
    return text

In [19]:
text="Hello! how are you?"

In [20]:
removepunc(text)

'Hello how are you'

# Spell Checking:

In [22]:
# !pip install TextBlob
from textblob import TextBlob

In [23]:
incorrect="ceertain conditionas seveal ggenerationss aree modified in the saame maner."

In [24]:
textblb=TextBlob(incorrect)

In [25]:
textblb.correct().string

'certain conditions several generations are modified in the same manner.'